@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
	.main-template {
		grid-template:
			"h h" auto
			"n pc" 1fr / max-content 1fr;
	}
	.mobile-template {
		grid-template:
			"h" auto
			"n" auto
			"pc" 1fr / 1fr;
	}
	.header {
		grid-area: h;
		align-items: center;
		position: sticky;
	}
	.header-title {
		background-image: linear-gradient(
			to right,
			#462523 0,
			#cb9b51 22%,
			#f6e27a 45%,
			#f6f2c0 50%,
			#f6e27a 55%,
			#cb9b51 78%,
			#462523 100%
		);
		color: transparent;
		background-clip: text;
	}
	.nav {
		grid-area: n;
		position: sticky;
	}
	.page-header {
		font-size: 2rem;
		line-height: 2.25rem;
		margin-bottom: 1rem;
	}
	.page-content {
		grid-area: pc;
	}
	.text {
		word-wrap: break-word;
		white-space: pre-wrap;
		word-break: break-word;
	}
}
