.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.header {
	display: flex;
	align-items: center;
	gap: 8px;
}
.title {
	color: #31242a;
}
.title,
.prefix {
	margin: 0;
	font-weight: 600;
	transition: font-size 0.1s linear;
	line-height: normal;
}
.prefix {
	background-color: #ffd900;
	padding: 8px;
}

.content {
	padding: 8px;
}
.footer {
	display: flex;
	justify-content: center;
	padding: 4px;
	border-top: 1px solid #eaeaea;
	flex-wrap: wrap;
}
.contacts {
	display: flex;
	align-items: center;
	gap: 4px;
	padding: 0 8px;
}
@media (max-width: 600px) {
	.contacts {
		width: 100%;
		flex-direction: column;
	}
}

@media (prefers-color-scheme: dark) {
	.footer {
		border-color: #222222;
	}
}
